/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* default styles */
body{
    background-color: #fff;
    margin-top: 70px;
    margin-bottom: 150px;
    overflow-x: hidden;
}
section{
    margin-top: 30px;
    padding: 20px 0;
}
.card, .card .card-body{
    border-radius: 12px !important;
    overflow: hidden;
}
.bg-green{
    background-color: #1ACEA3;
}

.text-green{
    color: #1ACEA3;
}

.bg-gray{
    background-color: #676767;
}

.text-green{
    color: #1ACEA3;
}

.text-gray{
    color: #676767;
}

.text-black{
    color: #000000;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a, p, ul, ol, dt, dd {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

h2{
    font-size: 23px;
}

.active{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.f-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.f-semi-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.f-medium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.f-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* navbar styles */
.navbar{
    padding: 10px 0;
}


/* small navbar styles */
.small-navbar {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 15px;
    padding: 20px 0;
}

.small-navbar .small-link i{
    font-size: 30px;
}

.small-navbar .small-link{
    color: #676767;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    transition: .3s;
}

.small-navbar .small-link:hover{
    color: #1ACEA3;
}

.small-navbar .small-link.active i{
    color: #1ACEA3;
}
.small-navbar .small-link.active{
    color: #1ACEA3;
    font-weight: 500;
}

/* off canvas styles */
.offcanvas-body .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    transition: .3s;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
}

.offcanvas-body .nav-link:hover{
    background-color: #eeeeee;
}


/* banner styles */




/* kategori kebutuhan styles */
.kategori-kebutuhan .card{
    border-radius: 10px;
}

.kategori-kebutuhan .card i{
    font-size: 5vh;
}

.kategori-kebutuhan .kebutuhan-item{
    color: #000000;
    font-weight: 500;
    transform: scale(1);
    transition: .3s;
}

.kategori-kebutuhan .kebutuhan-item .card{
    color: #1ACEA3;
    background-color: #fff;
    font-weight: 500;
    transition: .3s;
}

.kategori-kebutuhan .kebutuhan-item:hover{
    font-weight: 700;
    transform: scale(1.1);
}

.kategori-kebutuhan .kebutuhan-item p{
    font-weight: 500;
}

.kategori-kebutuhan .kebutuhan-item:hover .card{
    color: #fff;
    background-color: #1ACEA3;
}

.card.kontak-darurat{
    border-radius: 12px;
}

.card.kontak-darurat i{
    font-size: 8vh;
}

.card.kontak-darurat .card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.card.kontak-darurat .card-body{
    border-radius: 12px;
}

.card.kontak-darurat .card-title{
    font-weight: 700;
}

/* kontribusi styles */
.kontribusi .card{
    border-radius: 12px;
}
.kontribusi .card-body{
    border-radius: 12px;
}
.kontribusi .card .card-title{
    font-weight: 500;
}

.kontribusi .card.panduan-isoma .card-title{
    font-weight: 700;
}

.kontribusi .card.panduan-isoma .btn-white{
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 5px 0;
    width: 80%;
    transition: .3s;
}

.kontribusi .card.panduan-isoma .btn-white:hover{
    background-color: #fff;
    color: #1ACEA3;
}

/* link prev styles */
.link-prev{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #676767;
}
.link-prev:hover{
    color: #676767;
}


/* overlay article styles */
.ruang-bantu .card{
    position: relative;
}
.ruang-bantu .card .overlay-article{
    position: absolute;
    background-color: #1acea4bb;
    color: #fff;
    bottom: -12px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0;
}

/* simpan styles */
.simpan .card .card-title{
    font-weight: 500;
}

.simpan .card{
    position: relative;
}
.simpan .card .verified{
    position: absolute;
    top: 12px;
    right: 12px;
}

a.text-green{
    font-weight: 500;
    color: #1ACEA3;
}

a.text-green:hover{
    color: #1ACEA3;
}

/* panduan isoma styles */
section.tips-isoma{
    margin-top: 0;
}

.tips-isoma .card.tips-item .card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}












/* responsive styles */
@media (min-width: 992px) {
    body{
        margin-bottom: 50px;
    }
    /* .navbar{
        position :fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    } */
}
